django >= 1.5.0
johnny-cache
python-memcached
south
MySQL-python
fabric
PIL
django-grappelli
pyparsing==1.5.7
sorl-thumbnail
newrelic
django-gitrevision
https://pypi.python.org/packages/source/d/django-storages/django-storages-1.1.8.tar.gz
boto