{% load statics %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ryan is a freelance web developer based in Portland, OR building awesome Python apps for businesses, startups, and agencies. ">
		{% if page_title %}
			<title>{{ page_title }}</title>
		{% else %}
			<title>Ryan Jurgensen - Freelance Web Developer</title>
		{% endif %}

		{% if blog_post %}
			<link rel="author" href="https://plus.google.com/111862361789998379452"/>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/ryan.css' %}">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/ryan.js' %}"></script>
		<script type="text/javascript" src="//use.typekit.net/dbq7lij.js"></script>
		<script type="text/javascript">var csrf = '{{csrf_token}}';</script>

		{% block head %}{% endblock %}
	</head>
	<body data-spy="scroll" data-target=".navbar">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">

				<div class="container">  
					<a href="{% url 'home' %}" class="brand">Ryan Jurgensen</a>
					<ul class="nav pull-right">
					<li class="active hidden-phone"><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#skills">Skills</a></li>
					<li><a href="#contact">Contact</a></li>
					<li>
						<button class="btn btn-warning">Hire Me</button>
					</li>
					<li>
						<button id="freeOfficeButton" class="btn btn-success" data-toggle="modal" data-target="#freeOffice">Free Office Hours!</button>
					</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="main" class="container">
			{% if messages %}
				{% for message in messages %}
					<div class="alert {{ message.tags }}">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ message|safe }}
					</div>
				{% endfor %}
			{% endif %}
			{% block body %}{% endblock %}
		</div>

		<div class="modal hide" id="freeOffice" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="modalLabel">Ask me anything!</h3>
			</div>
			<div class="modal-body">
				<p>Have questions about where to start with your web startup? Want to chat about scaling your current webapp? Let's talk!</p>
				<p>Shoot me an email at <a href="mailto:ryan.jurgensen@gmail.com">ryan.jurgensen@gmail.com</a> and let's setup a time to Skype. Live in <strong>Portland</strong>? Let's grab coffee!</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/analytics.min.js' %}"></script>
		<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100622594ns.gif" /></p></noscript>
	</body>
</html>