{% extends "base.html" %}

{% block body %}
	<div id="portfolio" class="row">
		<h2 class="section span12 fullpage" style="color: #307889">Recent Work</h2>
		{% for square in portfolio_items %}
			{% include "portfolio_square.html" %}
		{% endfor %}
	</div>

	<div class="modal hide" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modalLabel"></h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

{% endblock %}