<div id="skills-row" class="row">
			<div class="span12">
				<table id="skills-table" class="table table-striped"> 
					<thead> 
						<tr> 
						    <th>Technology (click headers to sort)</th> 
						    <th>Skill Level</th> 
						    <th  class="hidden-phone">Interest</th>
						</tr> 
					</thead> 
					<tbody> 
					<tr> 
					    <td>Python</td> 
					    <td>High</td> 
					    <td  class="hidden-phone">High</td>
					</tr> 
					<tr> 
					    <td>PHP</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">Medium</td>
					</tr> 
					<tr> 
					    <td>MySQL</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr> 
					<tr> 
					    <td>Bootstrap</td> 
					    <td>High</td>
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>HTML5</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>CSS</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>LESS</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>git</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>Java</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">Medium</td>
					</tr>
					<tr> 
					    <td>Node.js</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>MongoDB</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>C/C++</td> 
					    <td>Low</td>
					    <td class="hidden-phone">Medium</td> 
					</tr>
					<tr> 
					    <td>Flash/Flex/AS3</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">Low</td>
					</tr> 
					<tr> 
					    <td>Coffeescript</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>JavaScript/jQuery</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>Backbone.js</td> 
					    <td>Low</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>WordPress</td> 
					    <td>Medium</td>
					    <td class="hidden-phone">Medium</td> 
					</tr>
					<tr> 
					    <td>Joomla</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">Low</td>
					</tr>
					<tr> 
					    <td>Drupal</td> 
					    <td>Low</td> 
					    <td class="hidden-phone">Low</td>
					</tr>
					<tr> 
					    <td>Google App Engine</td> 
					    <td>High</td>
					    <td class="hidden-phone">High</td> 
					</tr>
					<tr> 
					    <td>Django</td> 
					    <td>High</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>Jenkins</td> 
					    <td>Low</td>
					    <td class="hidden-phone">Medium</td> 
					</tr>
					<tr> 
					    <td>Linux Adminiistration</td> 
					    <td>High</td> 
					    <td class="hidden-phone">Medium</td>
					</tr>
					<tr> 
					    <td>Flask</td> 
					    <td>Low</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>Android</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">Medium</td>
					</tr>
					<tr> 
					    <td>Lisp</td> 
					    <td>Low</td> 
					    <td class="hidden-phone">Low</td>
					</tr>
					<tr> 
					    <td>iOS</td> 
					    <td>Medium</td> 
					    <td class="hidden-phone">High</td>
					</tr>
					<tr> 
					    <td>VHDL</td> 
					    <td>Low</td> 
					    <td class="hidden-phone">Low</td>
					</tr>
					</tbody> 
				</table>
			</div>
	</div>